<div style="background-color: blue; color: white; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
  <div style="font-size: 20px; font-weight: bold;">
    Books
  </div>
  <div style="display: flex; gap: 16px;">
    <% if current_user %>
      <span style="margin-right: 24px;">ようこそ、<%= current_user.name %>さん</span>
    <% end %>
    <%= link_to "リンク1", "#", style: "color: white; text-decoration: none;" %>
    <%= link_to "リンク2", "#", style: "color: white; text-decoration: none;" %>
    <%= link_to "リンク3", "#", style: "color: white; text-decoration: none;" %>
  </div>
</div>